.jumbotron {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(../../images/Pandemic-the-cure-1-768x1039.jpg);
    background-size: cover;
    background-position:0% 30%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}

h3 {
    background-color: #479bc2; 
    border-left: 5px solid #094e7c;
}

h4 {
    background-color: #e7e428
}