.jumbotron {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(../../images/BSGHero-e1511452411210-300x203.jpg);
    background-size: cover;
    background-position:center;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}

h3 {
    background-color: #ed7676;
    border-left: 5px solid #720909;
}

h4 {
    background-color: #adb2bc;
}