.jumbotron {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(../../images/bohnanza-300x262.jpeg);
    background-size: cover;
    background-position:center;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}

h3 {
    background-color: #fcf9c4; 
    border-left: 5px solid #999663;
}

