*, *::after, *::before {
  box-sizing: borer-box;
  font-family: Arial;

}

body {
  background-color: hsl(2240, 3%, 7%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0px;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
  

}

.alert-container {
  position: fixed;
  background: white;
  padding: 0.3em;
  border-radius: 10px;
  font-size: 1.5em;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  align-items: center;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease-in, visibility 0ms ease-in 500ms;
}

.alert-container.show {
  visibility: visible;
  opacity: 1.0
}
#share {
  margin: auto;
  margin-top: 1em;
  width: 4em;
  display: block;
  background: #093547;
  font-size: 0.9em;
  color: white;
  border-radius: 10px;
  
}

.title {
  font-size: 0.6em;
  color: white;
  text-align: center;
  margin: 0px;
  display: flex;
  flex-direction: column;

}
.title h1 {
    background: #093547;
  margin: 0px;
  margin-bottom: 0.2em;
  padding: 0.3em;
  
}

.title .instruction{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.0em;
  padding: 0.1em;
  font-size: 1.2em;
}
.title .instruction p {
  padding-left: 1em;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.5em));
  grid-auto-rows: 3.1em;
  gap: .25em;
  justify-content: center;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200), 
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}
.key:hover, .key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23%;
}
.key.wrong-location {
  --hue:49;
  --saturation:51%;
  --lightness: 47%;
}
.key.correct {
  --hue:115;
  --saturation:29%;
  --lightness: 43%;
}

.main-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(6, 4.6em);
  grid-template-rows: repeat(5, 4.6em);
  gap: 0.25em;
  flex-grow: 1;
  
}

.guess-count-container {
  grid-area: 2 / 1 / 7 / 2;
  color: white;
}
.guess-count {
  height: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25em;
  background: #212121;
}

.guess-count[data-guesscount='7'] {
  display: none;
}
.guess-count[data-selection = 'true'] {
  border: 2px solid #546E7A;
}
.guess-count[data-state = 'current'] {
  background: #263238;
    cursor: pointer;
}
.guess-count[data-state = 'read'] {
  background: #424242;
    cursor: pointer;
}
.guess-count[data-state = 'inactive'] {
  color: #424242;
}

.new-guess {
  color: white
}

.clue-container[data-cluenumber = '0'] {
  grid-area: 1 / 2 / 2 / 3;
}
.clue-container[data-cluenumber = '1'] {
  grid-area: 1 / 3/ 2/ 4;
}
.clue-container[data-cluenumber = '2'] {
  grid-area: 1/4/2/5;
}
.clue-container[data-cluenumber = '3'] {
  grid-area: 1/5/2/6;
}
.clue-container[data-cluenumber = '4'] {
  grid-area: 2 / 6 / 3 / 7; 
}
.clue-container[data-cluenumber = '5'] {
  grid-area: 3 / 6 / 4 / 7; 
}
.clue-container[data-cluenumber = '6'] {
  grid-area: 4 / 6 /5 / 7; 
}
.clue-container[data-cluenumber = '7'] {
  grid-area: 5 / 6 / 6 / 7; 
}
.clue-container {
  display: grid;
  grid-template-columns: 2.3em 2.3em;
  background: #212121;
  border-radius: 0.4em;
  padding-left: 0.2em;
  padding-top:0.2em;
}


.guess-grid {   
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(4, 4.6em);
  grid-template-rows: repeat(4, 4.6em);
  gap: .25em;
  grid-area: 2 / 2 / 6 / 6;
  
}

.tile {
  color: white;
  border: 0.05em solid hsl(240, 2%, 23%);
  font-size: 2em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  user-select: none;
}

.tile[data-state = 'active'] {
  border: 0.05em solid hsl(240, 2%, 50%);
}

.highlight {
  background: #212121
}

.clue {
    height: 1.8em;
    width: 1.8em;
    margin: 0.1em;
    border-radius: 0.3em;
}

.clue[data-state = 'correct'] {
  background: #48ab43;
}
.clue[data-state = 'wrong-position'] {
  background: #cf9512;
}

.win {
  border: none;
  background: #48ab43;
  
  animation-name: win;
  animation-duration: 1.0s;
  
}

@keyframes win {
  0%   {transform: translateY(0px)}
  50%  {transform: translateY(-30px)}
  100% {transform: translateY(0px)}
}

@media screen and (max-width:492px) { 
  .title h1{
    font-size: 4em;
  }
  .title .instruction {
    font-size: 2em;
  }
  .keyboard {
  display: grid;
  grid-template-columns: repeat(20, 0.8em);
  grid-auto-rows: 4em;
  gap: .2em;
  justify-content: center;
    font-size: 2em;
}
  
  .main-grid {
  
  grid-template-columns: repeat(6, 6em);
  grid-template-rows: repeat(5, 6em);

  
}
  .guess-grid {   

  grid-template-columns: repeat(4, 6em);
  grid-template-rows: repeat(4, 6em);


  
}
  .guess-count {
  height: 3.25em;

}
}
